@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo-nav-bar {
    margin-top: 12px;
}

.nav-bar-links {
    margin-left: 100px;
}

.nav-bar-form {
    margin-top: 6px;
    
}

.heading {
    margin-top: 20px;

}
.product {
    
}
.img-product {
    width: 80%;
    height: auto;
    position: center;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}


@media (width: 720px) {
    .img-product {
        width: 200px;
        height: auto;
        position: center;
    } 
}


