@model Tuple<ICollection<Shop.Models.ShopModel.Product>, Shop.Models.ShopModel.Product>

@{
    ViewBag.Title = "AddPosters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="" style="margin-left: 100px;">
        <div class="row">
            @using (Html.BeginForm("AddPosters", "Account"))
            {
                @Html.TextBoxFor(t => t.Item2.heading, new { @class = "form-control text-center", placeholder = "Heading Poster" })
                <br />
                @Html.TextBoxFor(t => t.Item2.srcImg, new { @class = "form-control text-center", placeholder = "Path img" })
                <br />
                @Html.TextBoxFor(t => t.Item2.Price, new { @class = "form-control text-center", placeholder = "Price Poster" })
                <br />
                @Html.TextBoxFor(t => t.Item2.CategoriesId, new { @class = "form-control text-center", placeholder = "Price Poster" })
                <br />
                <button class="btn btn-info" type="submit">Save</button>
            }
        </div>

        <br />
        @using (Ajax.BeginForm("PosterSearch", new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loding",
            LoadingElementDuration = 800
        }))
        {
            <input type="text" name="name" placeholder="Enter poster name " />
            <br />
            <button type="submit" class="btn btn-success">Search</button>
        }
        <br />
        <br />
        @*@using (Ajax.BeginForm("CustomerSerch", new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loding",
            LoadingElementDuration = 600
        }))
        {
            <input type="text" name="name" placeholder="Enter customer name " />
            <br />
            <button type="submit" class="btn btn-success">Search</button>
        }*@

        <div id="loding" style="display: none; color: red; font-weight: bold;">
            <p>Latency.....</p>
        </div>

        <div id="results"></div>
    </div>