@model  Tuple<ICollection<Shop.Models.ShopModel.Product>, ICollection<Shop.Models.ShopModel.shopBasket>>

@{
    ViewBag.Title = "shopBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<int> listid =new List<int>();
    foreach (var i in Model.Item2)
    {
       listid.Add(i.Id); 
    }
    int IdCard = 0;
    if (listid.Count >= 1)
    {
        IdCard = listid[0];
    }
    
}
<table class="table">
    

    @foreach (var b in Model.Item1)
    {
        <tr class="">
            <td>@b.heading</td>
            <td>@b.Price</td>
            <td>@b.Size</td>
                
                <td><a class="" href="/PosterShop/Logic_Deleting_product/@IdCard" >Delete</a></td>
            

            @{
                IdCard++;
            }
        </tr>

    }
</table>
@{
    if (Model.Item2.Count >= 1)
    {
        <a href="/PosterShop/Order">checkout</a>
    }
}
